.box1 {
	position: absolute;
	background-color : #b66b25;
	width:1340px;
}
.logo {
	margin-top:5px;
	margin-left:50px;
	margin-bottom:5px;
	
}
.ara {
	position: absolute;
	left:300px;
	top:35px;
	width:600px;
	height:30px;
	font-size:20px;
}
.uyegiris {
	color:#ddd169;
	position: absolute;
	right:300px;
	top:40px;
	border-right: 2px solid #ddd169;
	padding-right:4px;
	font-size:20px;	
}
.uyeol {
	color:#ddd169;
	position: absolute;
	right:230px;
	top:40px;
	padding-right:4px;
	font-size:20px;
}
.box2{
	width:1340px;
	height:60px;
	background-color:#ddd169;	
}
.ul{
	position:absolute;
	left:200px;
}

#menu-elemanlari li{
    display: inline-block;
    margin-right: 10px;
}
#menu-elemanlari li a{
    color:#b66b25;
    padding: 12px 10px 13px 10px;
    font-size: 30px; 
	width:150px;
	text-decoration:none;
}

.box4 {
	position: absolute;
	background-color :#b66b25;
	width:1340px;
	height:80px;
	top:1690px;
}
.iletisim{
	position:absolute;
	top:5px;
	left:50px;
	color:#ddd169;
    padding: 12px 10px 13px 10px;
    font-size: 40px; 
	width:150px;
	text-decoration:none;
}
.ulasim {
	position:absolute;
	right: 50px;
	top: 20px;
}
.medya{
	width:45px;
}
.box3{
	position:absolute;
	width:1340px;
	height:1600px;
	border-width :2px;
	background-color:#EEEEEE;
}
.accordion{
	position:absolute;
	top:100px;
	left:35px;
	width:1200px;
	height:700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin:19px -5px;
    background: #CCCCCC;
    border-radius:  20px;
    overflow: hidden;
}
.accordion a {
        display: block;
        height: 45px;
        line-height: 45px;
        padding: 10px 10px 10px 10px;
        background:#CD7F32;
        text-decoration: none;
        color: #FFFFFF;
    }
    .accordion a~a
    {
        border-top: 1px solid #EEEEEE;
    }
    
    .accordion a:hover
    {
        background: #C13100;
    }
    .accordion article
    {
        height: 0px;
        padding: 0px 30px;
        overflow:hidden;
        line-height: 10px;
        color: #777;
    }
    .accordion article:target
    {
        height: 145px;
    }
    .accordion article h4 {
        padding: 1.5px;
    }
	.title{
		position:absolute;
		top:15px;
		left:290px;
		font-size:35px;
		color:#980000;
	}

.foto1{
	position:absolute;
	left:290px;
	top:120px;
}
.lbl1{
	position:absolute;
	left:670px;
	top:200px;
	right:50px;
	font-size:25px;
}
.mi1{
	position:absolute;
	left:670px;
	top:120px;
	right:50px;
	font-size:25px;
	color:#336699;
	text-decoration:none;
}
.min1{
	position:absolute;
	left:670px;
	top:120px;
	right:50px;
	font-size:25px;
	color:blue;

}
.foto2{
	position:absolute;
	left:290px;
	top:400px;
}
.mi2{
	position:absolute;
	left:670px;
	top:400px;
	right:50px;
	font-size:25px;
	color:#3399FF;
}
.min2{
	position:absolute;
	left:670px;
	top:400px;
	right:50px;
	font-size:25px;
	color:#CD7F32;
}
.lbl2{
	position:absolute;
	left:670px;
	top:480px;
	right:50px;
	font-size:25px;
}
.foto3{
	position:absolute;
	left:290px;
	top:690px;
}
.mi3{
	position:absolute;
	left:670px;
	top:690px;
	right:50px;
	font-size:25px;
	color:#CC0000;
}
.min3{
	position:absolute;
	left:670px;
	top:690px;
	right:50px;
	font-size:25px;
	color:#002E63;
}
.lbl3{
	position:absolute;
	left:670px;
	top:770px;
	right:50px;
	font-size:25px;
}
.foto4{
	position:absolute;
	left:290px;
	top:970px;
}
.mi4{
	position:absolute;
	left:670px;
	top:970px;
	right:50px;
	font-size:25px;
	color:#0D738C;
}
.lbl4{
	position:absolute;
	left:670px;
	top:1050px;
	right:50px;
	font-size:25px;
}
.lble4{
	position:absolute;
	left:670px;
	top:1030px;
	right:40px;
	font-size:25px;
}
.foto5{
	position:absolute;
	left:290px;
	top:1250px;
}
.mi5{
	position:absolute;
	left:670px;
	top:1250px;
	right:50px;
	font-size:25px;
	color:#522E17;
}
.lbl5{
	position:absolute;
	left:670px;
	top:1330px;
	right:50px;
	font-size:25px;
}
.frg{
	position:absolute;
	left:290px;
	top:90px;
	list-style-type:none;
}
#frgg li {
   line-height:80px;
  
}
.frgmn1{
	position:absolute;
	left:710px;
	top:150px;
	font-size:23px; 
	line-height:40px;
}
.frgmn2{
	position:absolute;
	left:710px;
	top:450px;
	font-size:23px; 
	line-height:40px;
}.frgmn3{
	position:absolute;
	left:710px;
	top:740px;
	font-size:23px; 
	line-height:40px;
}.frgmn4{
	position:absolute;
	left:710px;
	top:1000px;
	font-size:23px; 
	line-height:40px;
}.frgmn5{
	position:absolute;
	left:710px;
	top:1270px;
	font-size:23px; 
	line-height:40px;
}
